html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*Navigation bar*/
nav {
	display: block;
	list-style: none;
	text-align: right;
	height: 48px;
	padding: 10px;
}

nav ul {
	margin-top: 17px;
}

nav li {
	color: #999;
	display: inline;
}

nav a {
	text-decoration: none;
}

nav ul li.greet {
	float: left;
	padding: 10px 0 0 40px;
}

.navlink {
	padding: 15px;
}

.signin {
	margin-right: 15px;
	color: #18afe0;
}

/*Logo and headline*/
div {

}

.container {
	height: 530px;
	text-align: center;
}

.logo {

}

.headlines {
	background-color: #fff;
	margin: 30px auto;
	width: 75%;
	font-family: Times New Roman, Georgia, serif;
}

h1 {
	font-size: 58px;
	color: #232323;
	clear: both;
	margin-bottom: 20px;
	font-family: serif;
}

h5 {
	font-size: 20px;
	font-weight: 500;
	margin: 10px 0;
}

/*Features and Icons*/

.features div {


}

.features {

}

figure	{
	display: block;
}

figure a {
	padding: 17px;
	margin: 0 18px;
	text-decoration: none;
	display: inline-block;
	height: 207px;
	width: 144px;
	border: 1px solid #e8e8e8;
	border-radius: 5px;
	box-shadow: 0 0 5px #efefef;
	background: -webkit-gradient(linear, 
		left top, left bottom, 
		from(#fff), to(#efefef));	
}

figure div h1 {
	color: #222;
	margin: 10px 0 15px 0;
	font-size: 46px;
	letter-spacing: -1px;
}

figure div h1 span {
	color: #336699;
	text-decoration: underline;
}

figure div p {
	font-size: 15px;
	color: #222;
	line-height: 1.4em;
	margin-top: 5px;
	font-family: 'Lucida Grande', 
		'Lucida Sans Unicode', 
		Verdana, sans-serif;
}

div.headbc img.arrow {
	position: relative;
	top: 35px;
	left: -147px;
}

div.headhr img.arrow {
	position: relative;
	top: 45px;
	left: 76px;
}

div.headcf img.arrow {
	position: relative;
	right: -173px;
	top: 40px;
}

.label {
	text-decoration: underline;
	font-size: 25px;
	color: #369;
	font-weight: bold;
	margin: 17px 10px;
}

.purpose {
	margin: 11px 0 15px;
	padding: 0;
	color: #cc0000;
	font-weight: bold;
	font-size: 17px;
}

.descript {
	width: 150px;
	font-size: 14px;
	line-height: 1.4 em;
	color: #222;
	margin: 0px;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', Verdana, sans-serif;
}

hr {
	clear: both;
	border: none;
	background: #fff url('http://37signals.com/images/img-hr.png') no-repeat scroll 50% 50%;
	color: transparent;
	height: 40px;
	width: 676px;
}
