/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* Hashim's code below */

nav {
	display: block;
	height: 29px;
	background-color: #2d2d2d;
	border-color: #000;
}


nav a {
	font-size: 13px;
	color: #bbb;
	display: inline;
	font-family: arial, sans-serif;
	font-weight: bold;
	vertical-align: -5px;
	white-space: nowrap;
	text-decoration: none;
	padding: 9px;
}

nav a:hover {
	font-size: 13px;
	color: #fff;
	display: inline;
	font-family: arial, sans-serif;
	font-weight: bold;
	vertical-align: -5px;
	white-space: nowrap;
	text-decoration: none;
	padding: 8px;
}

nav a:active {
	font-size: 15px;
	color: #fff;
	list-style: none;
	display: inline;
	font-family: arial bold;
	vertical-align: -5px;
	text-decoration: none;
	padding: 8px;
}

div {
	display: block;
	margin-top: 28px;
}

#signin {
	background-color: #c53727;
	float: right;
	margin-top: 32px;
	margin-right: 33px;
	height: 18px;
	text-align: center;
	border-radius: 4px;
	padding-top: 10px;
	color: #FFFFFF;
	text-decoration: none;
	font-size: 11px;
	width: 72px;
	font-family: arial bold;
}

.centered {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	position: relative;
	height: 100%;
	top: 82px;
}

#logo {
	display: block;
	width: 308px;
	height: 95px;
	margin-bottom: 62px;
	margin-top: 62px;
}

div img {
	text-align: center;
	width: 100%;
	height: 128%;
	padding-top: -3px;
	margin-left: 523px;
}





#searchbox {
	position: relative;
}



div.searchbox {
	width: 100%;
}

input {
	width: 41%;
	margin-left: 8px;
	margin-top: -6px;
	margin-bottom: 35px;
	height: 27px;
	border-bottom-color: #fff;
	border-width: 1px 1px;
	
}

input:hover {
	width: 41%;
	margin-left: 8px;
	margin-top: -6px;
	margin-bottom: 35px;
	height: 27px;
	border-bottom-color: #fff;
	border-width: 1px;
}

input:active {
	width: 41%;
	margin-left: 8px;
	margin-top: -6px;
	margin-bottom: 35px;
	height: 27px;
	border: 1px solid #4d90fe;
}

.buttons {
	display: inline;
	text-decoration: none;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
}

div.buttons {
	margin-top: 20px;
	text-decoration: none;
	font-family: sans-serif;
}

.box {
	margin: 10px;
	padding: 6px;
	height: 67px;
	text-decoration: none;
	color: #444;
	font-size: 11px;
	font-family: arial bold;
	border: solid 1px #c6c6c6;
	border-radius: 3px;
}

footer {
	width: 100%;
	position: fixed;
	bottom: 0;
	float: right;
	height: 29px;
	padding-top: 3px;
}

footer a {
	text-decoration: none;
	font-family: arial;
	float: right;
	padding: 12px;
	color: #666;
	font-size: 13px;
}

footer a:hover {
	text-decoration: underline;
	font-family: arial;
	float: right;
	padding: 12px;
	color: #666;
	font-size: 13px;
}

footer a:active {
	text-decoration: underline;
	font-family: arial;
	float: right;
	padding: 12px;
	color: #666;
	font-size: 13px;
}
